body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  border-right: solid 1px #ccc;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #d7e4f4;
  color: #1c9cd8;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #d7e4f4;
  color: #1c9cd8;
  text-decoration: none;
}
#toogleButton {
  color: #000;
  background-color: #d7e4f4;
  height: 50px;
  width: 50px;
  z-index: 3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: none;
}
/* tableta */
@media screen and (max-width: 768px) {
  ul {
    width: 100%;
  }
  .vertical-menu {
    width: 50px;
  }
  #toogleButton {
    border-top-width: 2px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
  }
  #navBar {
    width: 100%;
    left: 100%;
    z-index: 100;
    display: none;
  }
  #active {
    width: 100%;
    left: 0%;
    z-index: 1000;
  }
}
/* telefono tamaño L */
@media screen and (max-width: 420px) {
  ul {
    width: 100%;
  }
  .vertical-menu {
    width: 50px;
  }
  #toogleButton {
    border-top-width: 2px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
  }
  #navBar {
    width: 100%;
    left: 0%;
    z-index: 100;
    display: none;
  }
  #active {
    width: 100%;
    left: 0%;
    z-index: 1000;
  }
}
/* telefono tamaño M */
@media screen and (max-width: 375px) {
  ul {
    width: 100%;
  }
  .vertical-menu {
    width: 50px;
  }
  #toogleButton {
    border-top-width: 2px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
  }
  #navBar {
    width: 100%;
    left: 100%;
    z-index: 100;
    display: none;
  }
  #active {
    width: 100%;
    left: 0%;
    z-index: 1000;
  }
}
/* telefono tamaño s */
@media screen and (max-width: 320px) {
  ul {
    width: 100%;
  }
  .vertical-menu {
    width: 50px;
  }
  #toogleButton {
    border-top-width: 2px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
  }
  #navBar {
    width: 100%;
    left: 100%;
    z-index: 100;
    display: none;
  }
  #active {
    width: 100%;
    left: 0%;
    z-index: 1000;
  }
}
